<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Your Cart</title>
    <link rel="stylesheet" href="./css/styles.css">
    
</head>
<body>
    <h2>Your Cart</h2>

    <a href="index.html">Back to Products</a>
    <button id="logoutButton" onclick="console.log('Logout button clicked2')">Logout</button>

    <div id="cartItems"></div>

    <h3>Shipping Address</h3>
    <input type="text" id="shippingAddress" placeholder="Enter address..." style="width: 300px;" />
    <br><br>
    <button onclick="checkout()">Place Order</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
   
    <script src="./js/cart.js" defer></script>
    <!-- <script src="./js/auth.js" defer ></script> -->
     <script>
        const logoutBtn = document.getElementById('logoutButton');
        console.log("loguot button",logoutBtn);
        if(logoutBtn){
            logoutBtn.addEventListener('click', async () => {
                console.log("Logout button clicked1");
            
                try {
                    const res = await api.get('/api/auth/logout');
                    console.log("Logout API response:", res);
            
                    document.cookie = "authToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
                    alert('Logged out successfully.');
                    window.location.href = 'login.html';
                } catch (error) {
                    console.error('Logout failed:', error);
                    alert('Error logging out, please try again.');
                }
            });
        }else{
            console.log("button not found");
        }

     </script>
    
    <!-- <script src="./js/logout.js" defer></script> -->
</body>
</html>
