<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Product Store</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h2>Product Store</h2>

    <button onclick="logout()">Logout</button>
    <a href="cart.html" style="margin-left: 20px;">Go to Cart</a>

    <div id="productList"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/product.js"></script>
    <script src="./js/auth.js"></script>
</body>
</html>
